doctype html
html
  head
    title Gestor de Ficheiros
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery-3.4.1.min.js')
    script(src='/javascripts/form-ficheiros.js')

    script(scr='javascripts/jquery.modal.min.js')
    link(req='stylesheet' href="/stylesheets/jquery.modal.min.css")
  body
    block content
