extends layout

block content
    .w3-container-teal
        .w3-card-4
            header.w3-container
            h2 Entidade #{entidade.sigla}
        .w3-container
            table.w3-table-all
                h3 Descricao
                tr
                    th estado
                    th sigla
                    th designacao
                tr
                    td= entidade.estado
                    td= entidade.sigla
                    td= entidade.designacao
            a(href="javascript:history.back()") Voltar